In [2]:
import pandas as pd

In [9]:
data2 = ('a','b','c','d','e')

In [10]:
sr2 = pd.Series(data2)

In [11]:
print(sr2)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [12]:
#판다스의 자료구조
data1= (1,2,3.14,100,-10)
sr1 = pd.Series(data1)
print(sr1)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [22]:
dict_data = {'c0' :sr1,'c1' :sr2}
df1 = pd.DataFrame(dict_data)
df1

       c0 c1
0    1.00  a
1    2.00  b
2    3.14  c
3  100.00  d
4  -10.00  e

In [23]:
df1.columns

Index(['c0', 'c1'], dtype='object')

In [26]:
df1.columns = ['number','String']
df1

   number String
0    1.00      a
1    2.00      b
2    3.14      c
3  100.00      d
4  -10.00      e

In [27]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
df1.index = ['r1','r2','r3','r4','r5']

In [31]:
df1

    number String
r1    1.00      a
r2    2.00      b
r3    3.14      c
r4  100.00      d
r5  -10.00      e

In [32]:
df1.loc['r2','number']

2.0

In [33]:
df1.loc['r2':'r3', 'number':'String']

    number String
r2    2.00      b
r3    3.14      c

In [35]:
df1.loc['r2','number':'String']

number    2.0
String      b
Name: r2, dtype: object

In [36]:
df1.loc[:,'String']

r1    a
r2    b
r3    c
r4    d
r5    e
Name: String, dtype: object

In [38]:
df1.loc['r2':'r3',:]

    number String
r2    2.00      b
r3    3.14      c

#### 머신러닝 기초
- 레이블(정답)이 있는 입력(input)데이터를 모델에 투입하면 머신러닝 모델이 입력 데이터와 접답 사이의 관계
- 컴퓨터가 스스로 데이터를 학습하여 문제를 해결하는 과정을 말한다.

### 지도 학습 vs 비지도 학습

1. 지도학습

    1.1.지도학습은 학습 과장에서 정답 Y가 주고, 입력 데이터 X와 출력 데이터 Y룰 모두 알고 있는 상태

    1.2.Y = aX + b 와 같이 X 와 Y사이의 관계를 알아내는 머신러닝 알고리즘이다.


2. 비지도 학습

    2.1. 정답Y가 주어지지 않고 X 데이터만 제공하는 머신러닝 유형이다.

    2.2. X 데이터 사이에 존재하는 패턴 또는 규칙을 찾는 것이다

### 회귀 vs 분류

1. 회귀

    1.1 변수(X)와 목표 변수(Y) 사이의 회귀 관계식을 갖는다.

2. 분류

    2.1 변수(X) 와 목표 변수(Y) 사이의 관계를 찾지만, 예측하려는 목표 레이블이 연속적이지 않고 0,1,2와 같이 이산적인 값을 갖는 경우를 말한다.